# Environment Files
.env

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

#Python Cache Files
__pycache__/
*.py[cod]
*$py.class
*.pyo
.python_history

# Virtual Environment Directories
venv/
env/
ENV/
.venv/
.env

# Build and Distribution Artifacts
*.egg-info/
dist/
build/
develop-eggs/
node_modules/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
*.egg

# Editor-specific Configuration Files
.vscode/

# Log Files and Sensitive Configuration
*.log
config.yaml
secrets.json

# Docker
Dockerfile*
docker-compose.*

#  Built Docker images
**/.docker
